/*
!.gitignore
!README.md

!.vimrc
!.zshrc
!.Xresources

!.vim
.vim/*
!.vim/after


!.config
.config/*
!.config/i3


!.config/polybar
.config/polybar/*
!.config/polybar/config


!.config/rofi
.config/rofi/*
!.config/rofi/config

!bin
